* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 15vh 85vh;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: beige;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    background-color: blanchedalmond
}

.content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: lavender;
}