* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 15vh 85vh;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: beige;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    background-color: blanchedalmond;
    display: flex;
    gap: 1.3rem;
}

.header .text-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.text-container h1 {
    align-self: end;
    font-size: 4rem;
}

.text-container h4 {
    font-size: 1.5rem;
}

.content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: lavender;
}